@charset "UTF-8";

.container{
    position: relative;
    top: 100px;
}

.botaoAdicionarUsuario{
  position: absolute;
  right: 0;
  top: 32;
  width: 108px;
}

.inputAdicionarUsuario{
  position: relative;
  margin: 0 100px 0 0;
}

.botaoVisualizarNotaFiscal{
  position: absolute;
  right: 0;
  top: 62px;
  width: 120px;
}

.botaoVoltar{
	position: relative;
	top: -33px;
	left: 100px;
}

.botaoCadastro{
	position: relative;
	top: -34px;
	left: 100px;
}

.orcamentoPosicao{
	position: absolute;
	top: 70px;
	left: 100px;
}

.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
