@charset "UTF-8";

.container{
    position: relative;
    top: 100px;
}

.botaoCadastroVoltar{
	position: relative;
	top: -37px;
	left: 100px;
}

.orcamentoPosicao{
	position: absolute;
	top: 70px;
	left: 100px;
}